/* Contains commmon style that exsit on each page */
/* Global styles */
	*{
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
	}

	body{
		font-family: Arial, helvetica, Geneva;
		background-color: var(--background);
		font-size: 16px;
		line-height: 24px;
	}

	h1{
		opacity: 85%;
		color: var(--onDark);
		margin-bottom: .5em;
	}

	p{
		opacity: 98%;
		color: var(--onDark);
		line-height: 1.8em;
		margin-bottom: 1.2em;
	}

	.seperator{
		margin: 1em 0em;
		background: var(--onDark);
		width: 100%;
		height: 0.2em;
		opacity: 75%;
		border-radius: 0.5em;
		margin-bottom: 2em;
	}

	.refrence a{
		color: var(--SecondaryA700);
		opacity: 90%;
		font-weight: bold;
	}
	.refrence a:hover{
		color: var(--SecondaryA500);
		opacity: 100%;
		text-decoration: none;
	}

	/* code block style */
		.code_block{
			background: var(--codeblock);
			padding: 0.5em 0.8em;
			border-radius: 0.5em;
			width: 100%;
			overflow-x: auto;
			white-space: nowrap;
			margin: 1.5em 0em;
		}
		.code_block .code_line{
			display: block;
			color: var(--onDark);
			font-family: "Lucida Console", Monaco, monospace;
			opacity: 85%;
			margin-bottom: 0.5em;
		}

		.import_statement{
			color: var(--importcolor);
		}

		.comment_statement{
			display: inline-block;
			margin-top: 1.5em;
			color: var(--commentcolor);
		}

	/* code exception style*/
		.exceptions{
			margin: 1.2em 0em;
			border: var(--error) solid 0.3em;
			border-radius: 1.1em;
			padding: 0.8em;
		}

/* Variables */
	:root{

		--PrimaryA700: #002555;
		--PrimaryA500: #193a66;
		--Primary: #0f4c81;
		--PrimaryA300: #385e8e;
		--PrimaryA100: #4c77b2;

		--SecondaryA700: #c7ae00;
		--SecondaryA500: #d9bf20;
		--Secondary: #ffdf00;
		--SecondaryA300: #fff500;
		--SecondaryA100: #ffff54;

		--background: #e5e5e5;
		--surface: #f0f0f0;
		--error: #d90429;

		--onLight: #ffffff;
		--onDark: #000000;

		--codeblock: #AACC99;
		--importcolor: #490083;
		--commentcolor: #528837;
	}	

/* Mobile Screens */
	/* sd-container */
		#sd-container{
			width: 100%;
			height: 100%;
			float: right;
		}

		/* Dropdown menu*/
			#sd-container #dropdown-content{
				padding: 1.2em;
				display: flex;
				color: var(--onLight);
				flex-direction: column;
				visibility: hidden;
				justify-content: space-between;
			}

			#sd-container #dropdown-content h2{
				font-weight: 520;
				opacity: 85%;
				margin-bottom: 1.5em;
			}

			#sd-container #dropdown-content .tbc-box{
				margin: 0px;
				padding: 1em 0px;
				display: flex;
				flex-direction: column;
			}	

			#sd-container #dropdown-content .tbc-box .tbc-title{
				font-size: 1.2em;
				margin:0px;
				padding: 0px;
			}
			#sd-container #dropdown-content .tbc-box .tbc-title a{
				color: var(--onLight);
				text-decoration: none;
				opacity: 70%;
				font-weight: 400;
				transition: font-weight .2s ease-in-out;
			}
			#sd-container #dropdown-content .tbc-box .tbc-title a:hover{
				opacity: 100%;
				font-weight: 600;
			}

			#sd-container #dropdown-content .tbc-box .seperator{
				background: var(--SecondaryA300);
				opacity: 90%;
				width: 60%;
				margin: 0px;
			}

	/* Top Navigation bar*/
		nav {
			background-color: var(--PrimaryA500);
			width: 100%;
			padding: 0.5em 1.5em;
			position: sticky;
			top: 0px;
			display: flex;
			justify-content: space-between;
			z-index: 10;
		}

		nav ul{
			display: inline-block;
			padding: 0px;
			margin: 0px;
			align-self: center;
		}

		nav ul li{
			display: inline;
			list-style: : none;
			margin-right: 1.5em;
		}

		nav ul li a{
			display: inline-block;
			text-decoration: none;
			line-height: 1em;
			color: var(--onLight);
			opacity: 95%;
			transition: opacity 0.1s;
		}

		nav ul li a::after{
			content: ' ';
			display: block;
			width: 0em;
			background: var(--SecondaryA100);
			height: 0.2em;
			position: absolute;
			transition: width 0.08s ease-in-out;
		}

		nav ul li a:hover {
	  		text-decoration: none;
			line-height: 1.5em;
			font-weight: 545;
			color: var(--onLight);
			opacity: 100%;
	  	}
	  	nav ul li a:hover::after{
			width: 3em;
		}

		nav #dropdown-menu{
			background-color: var(--PrimaryA300);
			width: 2.5em;
			height: 2.5em;
			border-radius: 0.2em;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0.5em 0.3em;
		}

		nav #dropdown-menu .paddie{
			background: var(--onLight);
			opacity: 80%;
			width: 100%;
			height: 8%;
			display: block;
			transition: transform 0.2s ease-in-out;
		}

		#dropdown-content{
			display: none;
			width: 100%;
			position: fixed;
			z-index: 10;
			background: var(--PrimaryA100);
			transition: height 0.5s ease-in-out;
		}

	/* Side navigation bar */
		aside{
			display: none;
		}

	/* Main content */
		main{
			padding: 3em 1.5em;
		}

	/* Footer */
		footer{
			background-color: var(--PrimaryA500);
			width: 100%;
			height: 20%;
			display: flex;
			flex-direction: column;
			padding: 1em;

		}

		footer .copyright-content{
			text-align: center;
			margin-bottom: 2em;
		}
		footer .copyright-content p{
			color: var(--onLight);
			opacity: 80%;
		}

		footer .socialmedia-content{
			display: flex;
			margin-bottom: 2em;
			justify-content: center;
			padding: 0.2em 2.5em;
		}
		svg{
			height: 1.8em;
			width: 1.8em;
			margin-bottom: 0.8em;
			margin-left: 1.5em;
			fill: var(--onLight);
			opacity: 88%;
		}

		footer a:hover svg{
			opacity: 100%;
		}

		footer .socialmedia-content #Fiverr_icon circle{
			fill: var(--onLight);
		}
		footer .socialmedia-content #Fiverr_icon g{
			fill: var(--PrimaryA500);
		}

		footer .publish-date{
			text-align: center;
		}
		footer .publish-date p{
			color: var(--onLight);
			opacity: 80%;
			font-weight: 500;
		}


/* Medium Screens */
@media only screen and (min-width: 600px) {
	body{
		font-size: 16px;
	}

	/* sd-container */
		#sd-container{
			width: 80%;
		}

	/* Top Navigation bar*/
		nav #dropdown-menu{
			display: none;
		}

	/* Side navigation bar */
		aside{
			display: block;
			width: 20%;
			height: 100%;
			background: var(--Primary);
			position: fixed;
			color: var(--onLight);
		}

		/* BigLogo */
			aside #CSMTP_logo{
				width: 100%;
				display: flex;
				padding: 1em;
				flex-wrap: wrap;
				min-width: 5em;
			}
			aside #CSMTP_logo h3{
				text-align: center;
				flex-grow: 1;
				align-self: center;
				color: var(--onLight);
				opacity: 100%;
				font-size: 1.5em;
			}
			aside #CSMTP_logo svg{
				flex-grow: 1;
				width: 2.2em;
				height: 2.2em;
				margin: 0px;
				align-self: center;
				fill: var(--SecondaryA300);
			}
			aside #CSMTP_logo .seperator{
				padding: 0px;
				flex-grow: 2;
				margin: 0px;
				margin-top: 0.2em;
				opacity: 100%;
				background: var(--SecondaryA100);
			}

		/*Table of content*/

			aside a{
				color: var(--onLight);
				text-decoration: none;
			}
			aside #Tbc{
				padding: 1em 1.5em;
			}
			aside #Tbc h2:first-child{
				opacity: 88%;
				font-weight: 300;
				text-align: center;
			}

			aside #Tbc .tbc-box{
				margin: auto;
				margin-top: 2em;
				display: flex;
				flex-wrap: wrap;
				max-width: 8em;
			}

			aside #Tbc .tbc-box .tbc-title a{
				font-size: 1.2em;
				opacity: 70%;
				font-weight: 400;
				transition: font-weight .2s ease-in-out;
				flex-grow: 1;
			}
			aside #Tbc .tbc-box .tbc-title a:hover{
				opacity: 100%;
				font-weight: 600;
			}

			aside #Tbc .tbc-box .seperator{
				margin: 0px;
				padding: 0px;
				opacity: 95%;
				flex-grow: 2;
				background: var(--SecondaryA100);
			}

	/* Footer */
	
		footer{
			display: grid;
			grid-template-rows: 2;
			grid-template-columns: 2;
			padding: 0px;
		}

		footer .copyright-content{
			grid-column: 1/3;
			text-align: center;
			padding-top: 1em;
		}

		footer .socialmedia-content{
			grid-column: 1/2;
			padding: 0.2em 2.5em;
			justify-content: left;
		}
		svg{
			width: 1.5em;
			height: 1.5em;
			padding: 0px;
			margin: 0px;
			margin-left: 1.5em;
		}

		footer .publish-date{
			grid-column: 2/3;
		}
}

/* Larger Screens */
@media only screen and (min-width: 1024px){
	
	/* Side navigation bar */
		aside #CSMTP_logo{
			padding: 1em 3.5em;
		}

		aside #Tbc .tbc-box{
				margin: auto;
				margin-top: 2em;
				display: flex;
				flex-wrap: wrap;
				max-width: 10em;
			}
}